extends ../layout

block content
    a(href='/usuarios') Regresar

    br
    b

    h1 Cambiar contraseña
    
    br
    br
    
    form(action='/session/resetPassword/' method='post')
        .form-group
            label(for="email") Email:
            input#email.form-control(type='email' name='email'  class=errors.email ? 'is-invalid' : '')
            if errors.password
                small#emailHelp.text-danger
                    = errors.email.message

        .form-group
            label(for="password") Nueva Contraseña:
            input#email.form-control(type='password' name='password'  class=errors.email ? 'is-invalid' : '')
            if errors.password
                small#emailHelp.text-danger
                    = errors.email.message
        br
        br
        input.btn.btn-primary(type='submit' value='Ok' )